ultralytics
dotenv
groq
langchain_groq
langchain_huggingface
langchain_text_splitters
langchain_community
langchain_core
pypdf
json_repair
sentence-transformers
chromadb
fastapi
python-multipart
sqlalchemy
psycopg2-binary==2.9.11
numpy<2.0
